version: "3.4"
services:
  demoapp:
    image: demoapp
    networks:
      - app-web
    labels:
      traefik.backend: demoapp
      traefik.docker.network: app-web
      traefik.frontend.rule: Host:demoapp.{{ tld_hostname }}
      traefik.enable: "true"
      traefik.port: "80"
      com.datadoghq.ad.check_names: '["http_check"]'
      com.datadoghq.ad.init_configs: '[{}]'
      com.datadoghq.ad.instances: '[{"name":"demoapp","url":"https://demoapp.{{ tld_hostname }}/index.html","timeout":1,"tags":["env:mac","site:demoapp"],"disable_ssl_validation":false,"check_certificate_expiration":true,"days_warning":14,"days_critical":7,"skip_event":true}]'


networks:
  app-web:
    external: true


