version: '3.4'
services:
  dd-agent:
    image: datadog/docker-dd-agent:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    environment:
      - API_KEY={{ datadog.api_key }}
      - SD_BACKEND=docker
    networks:
      - "admin-web"
      - "admin-db"
      - "app-web"
      - "app-db"

networks:
  admin-web:
    external: true
  admin-db:
    external: true
  app-web:
    external: true
  app-db:
    external: true


