version: "3.4"
services:
  grafana:
    volumes:
      - "/data/grafana:/var/lib/grafana"
    image: grafana/grafana
    networks:
      - app-web
    environment:
      dnsrr: "true"  # Temporarily use dnsrr in place of VIP while issue persists on PWD
    deploy:
      placement:
        constraints:
          - 'node.role == manager'
          - 'node.platform.os == linux'
    labels:
      traefik.backend: grafana
      traefik.docker.network: app-web
      traefik.frontend.rule: Host:grafana.{{ tld_hostname }}
      traefik.enable: "true"
      traefik.port: "3000"
      com.datadoghq.ad.check_names: '["http_check"]'
      com.datadoghq.ad.init_configs: '[{}]'
      com.datadoghq.ad.instances: '[{"name":"Grafana","url":"https://grafana.{{ tld_hostname }}/login","timeout":1,"tags":["env:mac","site:grafana"],"disable_ssl_validation":false,"check_certificate_expiration":true,"days_warning":14,"days_critical":7,"skip_event":true}]'


networks:
  app-web:
    external: true


