debug = false
checkNewVersion = true
logLevel = "ERROR"
defaultEntryPoints = ["https","http"]

################################################################
# Web configuration backend
################################################################

# Enable web configuration backend
[web]

# Web administration port
#
# Required
#
address = ":8080"

# DataDog metrics exporter type
[web.metrics.datadog]

# DataDog's address.
#
# Required
# Default: "localhost:8125"
#
address = "dd-agent:8125"

# DataDog push interval
#
# Optional
# Default: "10s"
#
pushinterval = "15s"

[web.metrics.prometheus]

# Buckets for latency metrics
#
# Optional
# Default: [0.1, 0.3, 1.2, 5]
buckets=[0.1,0.3,1.2,5.0]

[entryPoints]
  [entryPoints.http]
  address = ":80"
  #  [entryPoints.http.redirect]
  #  entryPoint = "https"
  [entryPoints.https]
  address = ":443"
  [entryPoints.https.tls]
  minVersion = "VersionTLS12"
  cipherSuites = ["TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256","TLS_RSA_WITH_AES_256_GCM_SHA384"]

[retry]

[docker]
endpoint = "unix:///var/run/docker.sock"
domain = "doca-consulting.fr"
watch = true
exposedbydefault = false

[acme]
email = "{{ admin_mail }}"
storage = "acme.json"
entryPoint = "https"
OnHostRule = true
[acme.httpChallenge]
  # EntryPoint to use for the challenges.
  #
  # Required
  #
  entryPoint = "http"


[accessLog]
filePath = "/log/access.log"
#format = "json"

